[2017-03-10 19:06] mdehollander opened #1 "Create a bioconda package"
I have started to create a bioconda package, but even the binary version does not run on the conda images: https://github.com/bioconda/bioconda-recipes/pull/4099. Therefore we need to adjust the recipe to build from source: https://github.com/bioconda/bioconda-recipes/tree/master/recipes/sina. With @epruesse by email I discussed that to make a compiled package, first open motif and arb need to be

[2017-03-13 20:57] epruesse commented on #1
Requires various packages. See #8

[2017-03-15 03:12] epruesse opened #2 "Create homebrew recipe"
requires:
 - [ ] ARB

[2017-03-15 03:15] epruesse opened #3 "Add github integrations"
- [x] TravisCI
 - [x] CircleCI
 - [x] bumpversion
 - [x] Codacy

[2017-03-15 03:16] epruesse opened #4 "Fix license"
Needs exception for ARB

[2017-03-15 03:17] epruesse opened #5 "Write README.md"
Begin converting docs by writing an informative intro page.

[2017-03-15 19:43] epruesse commented on #4
Fixed by 8c86fdf053010a10bffcb1c0717568929070f5f1

[2017-03-15 19:43] #4 closed, assigned to epruesse

[2017-04-03 22:43] epruesse opened #8 "Add dependencies for SINA build/run to conda"
Building SINA requires ARB, which in turn requires a bunch of other libraries not currently in bioconda or conda-forge to be packaged first.

- [x] ARB bioconda/bioconda-recipes#4952
  - [x] openmotif conda-forge/staged-recipes#2582
    - [x] xorg-xbitmaps conda-forge/staged-recipes#2604
    - [x] xorg-libxp conda-forge/staged-recipes#2607
       - [x] xorg-printproto conda-forge/staged-recipes#25

[2017-04-11 18:40] epruesse opened #9 "Don't exit 1 on --help"

[2017-04-12 05:37] v-kisand opened #10 "Improve CSV output"
Hi Elmar,

Would be nice to be able to choose the information in taxonomy search output!

Thanx,
Veljo

[2017-04-12 16:28] epruesse commented on #10
Can you be more specific about how you'd like this to work? I assume you refer to the way BLAST or vsearch allow you to specify the output columns?

[2017-04-13 05:28] v-kisand commented on #10
yes, I mean something similar to the BLAST outfmt 6,7 and 10!

Thanks!
Veljo

2017-04-12 19:28 GMT+03:00 Elmar Pruesse <notifications@github.com>:

[2017-04-16 18:25] epruesse commented on #3
Travis is working, but the dependencies (GLIBC, libc++) are too recent to work everywhere. Need to build in a docker.

[2017-06-14 12:51] mdehollander opened #11 "Non zero exit status"
Since we moved to a new server running Ubuntu 16.04, I got the sina binary from here (1.3.1-a5). The programs runs fine and produces output, but when I integrate it in Snakemake it complains that it returns a non-zero exit status 6. And therefore it removes the output files. Any idea why it doesn't give a 0 exit code?

[2017-06-15 19:31] epruesse commented on #11
Exit code 6 is IIRC "invalid file handle". What does the log say? My best guess is that this is due to the logging subsystem trying to open `/dev/stderr` and failing. Try adding `log: {bla}.log` and `--log-file {log}` to your rule.

[2017-06-26 20:08] rec3141 opened #12 "add PDF of .tex documentation"
attached
[sina.pdf](https://github.com/epruesse/SINA/files/1103340/sina.pdf)

[2017-07-10 20:36] #9 closed, assigned to epruesse

[2017-07-12 18:32] #8 closed, assigned to epruesse

[2017-07-12 18:38] epruesse commented on #12
I've converted the `tex` to an `md` [here](../blob/master/doc/man.md). That way, online viewing doesn't require running tex over it.

[2017-07-12 18:38] #12 closed, assigned to nobody

[2017-07-12 18:46] epruesse commented on #11
@mdehollander Did you figure out what was going on?

[2017-07-12 20:33] epruesse opened #13 "Fix cseq length"
See unit test:
[code]

[2017-07-13 01:27] #3 closed, assigned to epruesse

[2017-07-13 20:13] epruesse opened #14 "Improve logging"
Have a look at `boost log`. The current implementation is loud and inflexible and causes issues on clusters as it fails if stderr/stdout are not open.

[2017-07-13 20:13] #5 closed, assigned to epruesse

[2017-07-13 20:13] #1 closed, assigned to epruesse

[2017-07-13 20:26] epruesse opened #15 "ARBHOME not set (w/o wrapper script)"
When not using the wrapper script, e.g. installation via Bioconda, the `ARBHOME` environment variable may not be set causing `arb_pt_server` to fail.

Encode the path in the binary and try to find ARB at startup.

[2017-07-14 00:36] epruesse opened #16 "Fix last line of input FASTA ignored if missing newline"

[2017-07-14 00:36] epruesse opened #17 "Allow parallel processing again"
Replace `pipe.h` with `tbb`

[2017-07-17 21:57] epruesse commented on #17
see [tbb branch](../tree/tbb)

[2017-07-19 08:30] mdehollander commented on #11
I had a look again and now used the latest version from bioconda. Now I get a 141 exit code when I run it directly, not in a snakemake rule (with snakemake it also still fails). This is the command I use.

[code]

The complete output can be seen at https://paste.ubuntu.com/25124176/

Could it be that there is a filehandle still open and that it complains that sina stops without closing it?

[2017-07-19 17:23] epruesse commented on #11
141 is `SIGPIPE`. Probably because SINA tried to read from the pipe coming from the PT server when that process was already terminated. So a bug in the handling of the background process shutdown. Looking at the log, SINA completed its run though. You should have sequences in the output and a log to show that it worked.

I'm not certain how much work I want to invest into the PT server handling. I

[2017-07-21 07:28] mdehollander commented on #11
The output is indeed there and looks fine. I managed to force a 0 exit code by adding `|| :` to the end of the line. Not really elegant, but it works. Wouldn't invest to much time in it, improvements like a kmer search or multiprocessing are more useful time investments I would say.

[2017-07-21 18:04] epruesse commented on #11
`|| true` is a more obvious way of saying "exit code ignored". If you add a `2> sina.errorlog` you can then check for crashes with `grep -q "SINA finished." sina.errorlog`. Not perfect, but it'll do.

[2018-03-01 10:53] a1an77 opened #19 "Allow adding sequence search result to output fasta"
Hi, I would like to have an option to include the (aligned) homology search results into the output file. Ideally with an option to limit the number of sequences included. Would that be feasible?

[2018-03-02 19:58] epruesse commented on #19
Hi Alan,

most definitely yes.

It was actually possible at some point, but I seem to have dropped it. Probably because the code wasn't easy to maintain with all combinations of fasta and arb source and destination files.

[2018-03-04 09:26] ZarulHanifah opened #20 "SINA documentation"
Hello Dr Pruesse,

Is it just me, or that the options in the online documentation didnt show up? And thank you so much for the software! (previously I simply used the online aligner, only recently I tried SINA cli)

[2018-05-07 13:26] a1an77 opened #21 "Tab characters in sequence should be ignored"
Tab characters are currently considered invalid and cause discard of the sequence containing them. They should be considered whitespace and ignored when processing the sequences instead.

[2018-06-19 16:13] epruesse commented on #21
Agreed. Any chance for a PR?

[2018-06-19 16:16] epruesse commented on #20
Yes, the documentation is in sore need of an update. I'm hoping to get a new version out some time soon, but haven't had the time to finish the work.

[2018-06-19 21:32] larusnz opened #22 "Looping files through SINA?"
I encountered a problem running SINA via command line and was wondering if anyone might be able to suggest a solution?

I am able to run a single fasta file fine with no problems, for example:

sina -i file1.fasta -o file1.output.fasta \
        --meta-fmt csv \
        --ptdb SSURef_NR99_132_SILVA_13_12_17_opt.arb \
        --search --search-db SSURef_NR99_132_SILVA_13_12_17_opt.arb --lca-fields

[2018-06-19 21:55] epruesse commented on #22
I'm assuming you meant 16th file. The loop you posted should not affect SINA in any way at all. Does that file fail if run directly? Or really only in the loop?

That's not an error, but should always be the last bit. You can in theory start an ARB PT server on your own, and point SINA to the server using "--pt-port" (and "--search-db-port"), to save on startup time with small files. If you don't,

[2018-06-19 22:01] epruesse commented on #21
In case this is a blocker for you, you can convert the tabs to spaces like so (tr is really fast):
[code]

Or on the fly:
[code]

[2018-06-20 21:35] larusnz commented on #22
No, I was meaning the 16th sequence in the first file (which is why it seemed very strange). I tried running the file directly and it worked fine, it only aborts early when in the loop.

I'll try a few other things and see if I can resolve what it going on - thanks

[2018-06-21 00:06] epruesse commented on #22
Ok. Please close this if you figure out what went wrong. It does sound to me like SINA terminated normally after 16 sequences. Perhaps the command line wasn't exactly the same (forgotten `\` at the end of a line in your script or something similar).

[2018-06-22 01:09] larusnz commented on #22
Yes, I see now, you are correct - the loop ran file 10 (containing 16 sequences) before file 1 (containing 600 sequences) . However, the PT Server terminated at the end of running the first file, so the loop failed. Is there any way to run multiple files without the Server terminating?

[2018-06-22 01:23] epruesse commented on #22
No. The PT server terminated, as did SINA, because they were finished. That was not an error. Put `echo SINA exited with code $?;` into your loop to have bash print the exit code, it should be 0.

Quoting myself from above:

However, it's not really necessary.

Here's a script for running many instances of SINA in parallel on a single large file: https://github.com/epruesse/SINA/blob/master/src/ps

[2018-06-22 01:31] larusnz commented on #22
Thanks!

[2018-06-22 01:31] #22 closed, assigned to nobody

[2018-09-07 00:43] #21 closed, assigned to nobody

[2018-09-07 00:45] epruesse commented on #15
fixed by 62239e37e5cf439598137e5f7b8344a6c3ab3759 ff

[2018-09-07 00:47] epruesse commented on #13
Turns out this is actually an issue with boost test. The test case was *expected* to fail. Removed the test case in 9f8e7a08140e9607526058dec7399429b0cc6b47 as it was not testing anything useful anyway.

[2018-09-07 00:47] #13 closed, assigned to nobody

[2018-09-07 01:12] #16 closed, assigned to nobody

[2018-09-07 02:33] #11 closed, assigned to nobody

[2018-09-07 02:44] epruesse commented on #2
Closing this - Bioconda is enough

[2018-09-07 02:44] #2 closed, assigned to epruesse

[2018-09-07 02:45] epruesse opened #23 "Implement fast kmer search to replace PT server"

[2018-09-07 02:46] epruesse opened #24 "Allow asking for output to be DNA or RNA format (U vs T)"
This may be needed by Qiime2 to make things a little easier

[2018-09-07 02:48] epruesse opened #25 "Add tests to verify alignment accuracy stays ok"
This is needed before messing with the kmer search (#23)

[2018-09-07 02:49] epruesse opened #26 "Binary artifacts not created for releases"

[2018-09-07 23:23] #24 closed, assigned to nobody

[2018-09-08 21:27] epruesse opened #27 "Version 1.3.3 source dist is missing a file"

[2018-09-08 21:28] epruesse commented on #27
fixed by fb03fbe8989110caf691aff06df38b13b031d130

[2018-09-08 21:28] #27 closed, assigned to nobody

[2018-09-08 23:53] epruesse commented on #26
fixed by b9892a9660a991f75aa063896b09a4294ff89401

[2018-09-08 23:53] #26 closed, assigned to nobody

[2018-09-10 09:43] mdehollander commented on #15
Still getting the same error with `1.3.4` installed from bioconda:

[code]

[2018-09-10 17:41] epruesse commented on #15
@mdehollander Darn. Looking into it. Does the tarball from the releases work for you at least?

[2018-09-10 17:46] epruesse commented on #15
Err. Wait. That's not an issue with SINA, but with the `arb-bio` package. In theory, there should be an activate script that sets ARBHOME when you activate the environment.

[2018-09-10 17:50] epruesse commented on #15
Oh. Wait. Sigh. Need to update the `arb-bio` package yet again.

The activate script is part of `arb-bio`, but SINA installs only `arb-bio-tools` and `libarbdb`, so no activate script and hence no ARBHOME.

It is something of a corner case. SINA itself will set ARBHOME doing some hacky guesswork (using the memory address of ARB library calls to get the on-disk location of libARBDB and deducing ARB

[2018-09-10 20:23] epruesse commented on #15
Updated the ARB package https://github.com/bioconda/bioconda-recipes/pull/10889

[2018-09-11 08:26] mdehollander commented on #15
Perfect, I can confirm it works now. Thanks.

[2018-09-11 16:38] #15 closed, assigned to nobody

[2018-09-18 06:56] Lagkouvardos opened #28 "activation of search leads to boost exception"
When the --search flag is included an exception from boost is thrown.

For example the command:
sina -i sequence.fasta -o sequence..aligned.fasta --db SILVA_132.arb --search-db SILVA_132.arb  --search

Will through:
terminate called after throwing an instance of 'boost::exception_detail::clone_impl<boost::exception_detail::error_info_injector<boost::bad_any_cast> >'
  what():  boost::bad_any_cast:

[2018-09-20 02:23] epruesse commented on #28
Thanks!

Fixed in 1.3.5 :)

[2018-09-20 02:23] #28 closed, assigned to epruesse

[2018-09-22 00:49] epruesse opened #29 "allow reading/writing fasta.gz"

[2018-09-22 02:32] epruesse commented on #29
- writing fixed in  1e63da9f5e8d34f28ea9f93cef5dbea21bbef3e6
- reading fixed in 1fa1ad8efeb0dee134f3165e77dcfb400ca598b8

[2018-09-22 02:32] #29 closed, assigned to nobody

[2018-09-22 02:42] epruesse opened #30 "Check if arb_pt_server is in PATH"
Also see if we can locate it based on ARBHOME if not

[2018-09-22 02:45] epruesse commented on #14
perhaps better: https://github.com/gabime/spdlog

[2018-09-26 02:43] #17 closed, assigned to nobody

[2018-09-26 02:48] epruesse opened #32 "Search stage not parallelized"
If the search DB and the reference DB are the same, and the engine is PT, the search should use the same PT servers. Otherwise it needs its own.

[2018-10-03 20:04] #14 closed, assigned to nobody

[2018-10-06 18:47] epruesse opened #34 "Index build only implicit"
- [ ] add option that **just** builds index and then exits
- [ ] automatically convert reference FASTA as needed

[2018-10-09 22:19] #30 closed, assigned to nobody

[2018-10-30 01:19] #19 closed, assigned to nobody

[2018-10-30 21:45] epruesse opened #38 "Test 1.4.0-rc parallel SINA pre-release"
Could any of you give the pre-release a spin before I push out the 1.4.0?

@mdehollander @rec3141 @Lagkouvardos @larusnz @a1an77 @ZarulSaurus @v-kisand @marcomeola

Adding multi-cpu support was a bigger change, so while I'm doing my best to avoid big regressions, I have a gut feeling that there will be some.

[2018-10-31 19:14] mdehollander commented on #38
I did a quick test and it works fine for me. Thanks for making these improvements.
What I do not understand directly is how to interpret the `--threads` and `--num-pts` flag. If I only specify `--threads 16` is still uses 1 thread. Only when I increase the number of pt servers it runs in parallel.

[2018-10-31 20:17] epruesse commented on #38
@mdehollander That should depend on the size of your reference database actually. Unless you had `--search` on. Did you?

- The `--threads` default is dynamic, allowing TBB to profile the CPU load and decide based on what else is running on the computer. Intel's engineers say to only use hard thread configuration for scalability testing. I tend to trust them on that, and it's been working nicely f

[2018-11-02 15:48] epruesse opened #41 "Improve test coverage"
- rw_fasta:
  - [x] --meta-fmt [none|header|csv|comment]
  - [ ] fail if --fasta-idx and piped
  - [ ] in fasta with stuff before first >
  - [ ] in fasta with windows line ends
  - [x] in fasta with description in sequence
  - [ ] in fasta with comment parameters
  - [ ] in fasta with broken chars
  - [ ] can't open out fasta
  - [ ] can't open out fasta.csv
  - [ ] sequence below idty threshold

[2018-11-09 22:01] epruesse commented on #38
thanks @mdehollander

[2018-11-09 22:01] #38 closed, assigned to nobody

[2018-11-29 21:03] btemperton opened #44 "conda install sina installs v1.3.5"
The documentation here and in the bioconda link suggests that
`conda install sina` will install version 1.4.0, but it instead installs 1.3.5:

[code]

[2018-11-29 21:14] epruesse commented on #44
That's unusual ... the 1.4 needs less stuff, so even for conda it's unusual to pick an old version here.

Can you try

[code]

to create a new environment with just sina in it. That would exclude anything you've already installed from blocking the install of sina 1.4

[2018-12-06 18:08] darcyj opened #46 "Option to filter gap-only columns from output alignment"
Hey Elmar,

It would be really useful if SINA could simplify its output alignment a bit, by removing columns that contain only gap characters. Currently I'm using the QIIME1 script "filter_alignment.py" to do this.

Thanks!

-JLD

[2018-12-09 03:47] epruesse commented on #44
ping @btemperton

[2018-12-09 04:10] epruesse commented on #46
Also: allow adding gaps to reference alignment

@darcyj What would you expect the option to be called? `--fasta-compress-gaps`, `--compress-gaps`, `--remove-gap-only-columns`, ...? And the one for adding gaps?

Thinking to only allow "multiplying" the alignment width (add *n* gaps between columns and surrounding alignment).

[2018-12-09 08:17] btemperton commented on #44
Sorry, this ran away from me! Putting sina into its own environment worked great! All working smoothly now, thanks!

[2018-12-09 20:08] darcyj commented on #46
Maybe it would be nice to mirror the old option in ARB's exporter, like `--compress-vertical-gaps`, although I think the word "compress" is somewhat misleading. I like `--remove-vertical-gaps` or `--remove-gap-only-columns` which is very explicit.

For adding n gaps between each column, maybe something as simple as `--add-vertical-gaps` or `--add-gap-only-columns` because it would compliment the a

[2018-12-10 17:01] epruesse commented on #44
Ok, glad to hear that.

[2018-12-10 17:01] #44 closed, assigned to nobody

[2018-12-12 12:30] KasperSkytte opened #48 "Installing SINA from source on ubuntu 18.04"
Hi!

I have succesfully installed SINA 1.4.0 through conda, but I would like to install SINA from the github source tree to get the newest development version, but I get the error below during `./configure`. I have followed the instructions on the [wiki](https://github.com/epruesse/SINA/wiki/Installation) and installed ARB6 with `apt install arb arb-common arb-doc libarb libarb-dev` and also all l

[2018-12-12 13:03] KasperSkytte opened #49 "align_ident_slv field blank if not 100% identity"
Hi!

I have used SINA 1.4.0 to align and assign taxonomy to some full length 16S sequences. When inspecting the output, the field `align_ident_slv` in the output CSV file only shows sequences with an identity of 100, everything else is just blank. I ran the same data on SINA 1.3.5 last week and all fields in the column had a value. This is the command I ran:

[code]

I run Ubuntu 18.04 LTS on a De

[2018-12-12 14:00] KasperSkytte commented on #32
Hi!

Thank you for making SINA parallelizable in v1.4.0! Will this be fixed in the near future?
Unfortunately, I mostly only use the search stage, so right now I have to brute force by splitting the input, run SINA in parallel processes using GNU parallel, and then combine.

-Kasper

[2018-12-12 19:30] epruesse commented on #48
Did you point configure to the right place with `--with-arbhome=/usr/lib/arb`?
Attach the `config.log` to this ticket - I can have a look at why it didn't find it.

[2018-12-12 19:33] epruesse commented on #32
I don't know yet. I'm working on an internal search engine hopefully obviating the need for the ARB PT server.

[2018-12-13 02:36] epruesse commented on #49
[code]
You don't have to specify intype or outtype - default is fasta anyway.

[code]
The arguments `nearest nuc achieved_idty name` won't do anything. They are not preceded by any option and ignored by boost program options. I guess I need to figure out how to get those from boost so I can throw an error.

[code]
You don't have to specify `--search-db` if it is the same as `--db`. That's the defa

[2018-12-13 02:42] epruesse commented on #49
Did you use `--calc-idty` or `--min-idty` when you ran it last time? Without those, the column shouldn't be there at all actually.

[2018-12-13 11:18] KasperSkytte commented on #48
Hi again

Thank you. I would appreciate that. As far as I understand, `/usr/lib/arb` is the standard path to arb. Using `./configure --with-arbhome=/usr/lib/arb` results in the same error.

[config.log](https://github.com/epruesse/SINA/files/2675702/config.log)

[2018-12-13 11:21] KasperSkytte commented on #32
Alright, great. I imagine that would take some time. Thanks

[2018-12-13 11:55] KasperSkytte commented on #49
Hi again

I didn't use `--calc-idty` before and the column shows anyways. But now that I do it has a value in all fields, so I guess that fixes it.
I'll reduce the number of arguments a bit when they are superfluous anyways. I am trying to generate denovo taxonomy based on full length exact sequence variants (based on [this work](https://www.nature.com/articles/nbt.4045)) and then merge with SILVA

[2018-12-13 11:56] #49 closed, assigned to nobody

[2018-12-13 18:30] epruesse commented on #49
Hmm. I think I did do a little cleanup in that section, it's possible I "fixed" that. I guess I could make it a default, it doesn't take that long to compute after all. I added it at some point because the alignment score (which says something similar) is somewhat dependent on the alignment parameters.

To be honest, the whole LCA classification was just added because people were using the alignme

[2018-12-13 23:40] epruesse commented on #48
[code]

This is the relevant part. Looks like I've never tried to build SINA using the `libarb-dev` Debian package. SINA expects the include files in `$ARBHOME/INCLUDE` and the libs in `$ARBHOME/lib`, which is the case when building ARB yourself as well as for the `arb-bio-devel` package in Bioconda. I'll see whether I can fix this.

[2018-12-14 00:43] epruesse commented on #48
Ok, I've fixed that part in the latest dev, but the Debian `libarb-dev` package is broken. The static libraries do not contain any symbols. My best guess is that they got `strip`ed accidentally. Without symbols they are useless though, and without `PROBE_COM/client.a` I can't connect to the PT server.

You'd have to build ARB from source yourself.

If you decide to use `arb-bio-devel` from Biocond

[2018-12-17 15:54] KasperSkytte commented on #48
Thanks. I give up on compiling ARB, I guess Ubuntu 18.10 is too new. I tried that described at http://bugs.arb-home.de/wiki/building-arb-from-svn and http://bugs.arb-home.de/browser/branches/stable/arb_INSTALL.txt and the `arb_INSTALL.txt` file in the source directory:

first install dependencies as described in arb_UBUNTU.txt, some of them doesn't exist anymore or have been upgraded, I installed

[2018-12-17 17:23] epruesse commented on #48
I can probably help you make that work if you need it. I'm building on Ubuntu 18.04 just fine. ARB can be finicky though, and I believe there was one dependency missing in the list. Also, you may have to set `LD_LIBRARY_PATH=$ARBHOME/lib`.

Why were you trying to compile SINA from source in the first place, actually?

If it's about performance - my tests show no significant difference building wit

[2018-12-18 18:58] Roli-Wilhelm opened #50 "Conda environment broken"
Hi,

When I install via conda and run 'sina' I receive the following error:

sina: symbol lookup error: ~/anaconda3/envs/sina/bin/../lib/libsina.so.0: undefined symbol: _ZN5boost15program_options3argE

Thanks

[2018-12-18 20:06] epruesse commented on #50
Can you post or attach the output of `conda list` from inside the env?

[2018-12-18 20:06] Roli-Wilhelm commented on #50
# Name                    Version                   Build  Channel
arb-bio-tools             6.0.6                h5901010_5    bioconda
blas                      1.0                         mkl
boost                     1.67.0                   py37_4
bzip2                     1.0.6                h14c3975_5
ca-certificates           2018.03.07                    0
certifi                   2018.

[2018-12-18 20:08] Roli-Wilhelm commented on #50
![image](https://user-images.githubusercontent.com/5546826/50180093-b554c800-02d6-11e9-95b1-4bbb00627100.png)

[2018-12-18 21:04] epruesse commented on #50
Linux or OSX?

[2018-12-18 21:29] epruesse commented on #50
Run

[code]

- hopefully that fixes it.

Somehow installing `python 3.7.1` leads to `libboost` being installed instead of `boost-cpp`, and that leads to the linker issue.

[2018-12-18 22:04] Roli-Wilhelm commented on #50
Thanks for the speedy support; however, this did not fix the problem. The error remained even after I installed "boost-cpp-1.67.0" in the 'sina' conda environment.

[2018-12-18 22:23] epruesse commented on #50
The underlying issue is that your environment has the boost libraries from defaults which are compiled with the new C++11 ABI while SINA was linked using the boost libraries from Conda forge which use the old ABI.

Can you double check your Channel List? It should have conda-forge > Bioconda > defaults.

You couldn’t try installing python 3.6 - maybe that’ll get the right libs in there.

As last r

[2018-12-18 23:23] #50 closed, assigned to nobody

[2019-01-04 22:05] #48 closed, assigned to nobody

[2019-01-22 23:43] #25 closed, assigned to nobody

[2019-01-22 23:44] epruesse commented on #20
The docs are now up to date and available at https://sina.readthedocs.io

[2019-01-22 23:44] #20 closed, assigned to nobody

[2019-01-31 13:39] lucaz88 opened #52 "command find_family fails"
Dear Elmar,

I am trying the parallel version of sina (1.4.0) with a set of ~22,000 full 16S sequences but after 1d of running I start to get a lot of warnings like:
[code]
and eventually, an abort message:
`No retries left; aborting.`

How can I solve the problem?
The command I am running is:
`sina -i derep.fasta -o derep_aln.fasta --meta-fmt csv --db silva/ARB/SILVA_132_SSURef_12_12_17_opt.arb -

[2019-01-31 16:50] epruesse commented on #52
@lucaz88 That happens when one of the ARB PT servers crashes. They tend to do that when they run for more than a few hours at a time. It's been a problem for ever, but it's so consuming to reproduce the error that I've never been able to come up with a solid workaround. It's the a big part of  why I've been busy building an alternative, internal sequence search into SINA.

The next version of SINA

[2019-01-31 21:15] lucaz88 commented on #52
Many thanks! I will start trying your first suggestion.
Looking forward to the new version of sina!!

[2019-02-09 10:54] debjitde01 opened #53 "Problem regarding sina"
I am working with sina and this is the script which i have used it takes too much time still it is not complete. is it running ok?

(sina) pkd@pkd-HP-406-G1-MT:~$ sina -i ~/Sina/amplicons_seeds.fasta --intype fasta -o sina_out --outtype fasta --search --meta-fmt csv --overhang remove --insertion forbid --filter none --fs-kmer-no-fast --fs-kmer-len 10 --fs-req 2 --fs-req-full 1 --fs-min 40 --fs-max

[2019-02-10 00:09] epruesse commented on #53
You can remove a lot of those options - there really is no need to re-iterate the defaults. If you want it to be more verbose while it's working, add `-v`. You should see sequences appearing in the output file though. So in your case something like

[code]

should give you a progress report.

Or, if you have `pv` installed, try:

[code]

[2019-02-10 00:20] epruesse commented on #53
Get the 1.5.0 and try this line:

[code]

you can refine from there.

- Specifying `req-full` and so on won't be an issue if your reference (the SILVA database) is pretty much guaranteed to include your query sequences (amplicons) in full anyway. This is really only an issue if your reference contains (a significant number of) sequences which don't fully cover your queries (e.g. when you allign fu

[2019-02-11 06:38] debjitde01 commented on #53
In online 1.4.0 is the latest version we don't get the 1.5.0. So we tried your script in 1.4.0 but we don't get the output file

(sina) pkd@pkd-HP-406-G1-MT:~/Sina$ sina -i ~/Sina/amplicons_seeds.fasta --db ~/Sina/sina_ssu.arb -o sina_out.fasta --search --meta-fmt csv --lca-fields tax_slv --fs-engine internal --num-pts 8 -v
[2019-02-11 11:41:22.044] [log] [info] Loglevel set to info
11:41:22 [SINA

[2019-02-15 01:00] epruesse opened #54 "Check for presence of `bc` in configure (for tests)"

[2019-02-18 18:51] epruesse commented on #53
If you mean by this that you want to install via `conda` - the version in bioconda is now updated to `1.5.0`, so that should work now.

[2019-02-20 05:09] debjitde01 commented on #53
Now i am trying with the recent version (1.5.0.) in conda and running with your given code, but i am getting an error (6th line from the first line of the script and the 3rd last line). Kindly help me to resolve this.

(ddocent_env) pkd@pkd-HP-406-G1-MT:~/Downloads/sina-1.5.0-linux$ sina -i amplicons_seeds.fasta --db SILVA_132_SSURef_NR99_13_12_17_opt.arb -o sina_out.fasta --outtype fasta --search

[2019-02-20 19:05] epruesse commented on #53
This is what the PT server said:

Ok, so you have some 12GB of RAM in your computer.

ARB thinks it's ok to use 90% of that, so 10.5 GB

ARB tells you to set ARB_MEMORY if you need this to be lower.

ARB dies.

SINA can't go on.

So basically, try this:`ARB_MEMORY=70% sina ...`

[2019-02-20 19:06] #52 closed, assigned to nobody

[2019-02-22 20:42] #54 closed, assigned to nobody

[2019-03-19 21:23] epruesse opened #57 "Internal search ignores several options"
- [x] --fs-kmer-len
- [x] --fs-no-fast
- [x] --fs-min
- [x] --fs-msc
- [x] --fs-msc-max
- [x] (--realign?)
- [x] --fs-full-len
- [x] --fs-req-full
- [x] --fs-min-len
- [x] --fs-cover-gene
- [x] --fs-leave-query-out

[2019-03-19 21:23] epruesse opened #58 "Internal search ignores --fs-no-fast"

[2019-03-19 21:25] #58 closed, assigned to nobody

[2019-03-21 00:26] epruesse opened #59 "cseq issues append warnings"

[2019-03-21 02:26] epruesse commented on #57
`--fs-kmer-len` actually does work. If `file.sidx` was build with a different k it is deleted.

[2019-03-23 18:39] epruesse commented on #59
Probably spurious - fixing ends in alignment

[2019-03-23 18:41] epruesse opened #60 "Control edge gap weights"
It would be nice to be able to weight gaps at the edges differently than in the middle. MUSCLE e.g. weights them at half the cost by default (IRRC).

This is complicated by the fact that the graph might have different trailing end lengths.

[2019-03-23 18:42] epruesse opened #61 "Support FastQ"
- [ ] parse (simple)
- [ ] weight alignment using phred score (not simple)
- [ ] deal with paired end properly

[2019-03-23 18:43] epruesse opened #62 "Improve classifier"
The LCA classifier has obvious shortcomings as it does not take into account the spread in a search result.

[2019-03-23 18:45] epruesse commented on #53
I'm guessing you found a way to make this work. It was probably an out of memory condition in the PT server. The upcoming 1.6 will default to the internal search engine which uses a lot less memory.

[2019-03-23 18:45] #53 closed, assigned to nobody

[2019-03-23 18:48] epruesse commented on #41
At 70% - closing because this will be an ongoing task.

[2019-03-23 18:48] #41 closed, assigned to nobody

[2019-03-23 18:52] epruesse opened #63 "Alignment stealing uses character compare"
See align.cpp

[2019-03-23 18:55] epruesse opened #64 "Align reduces family if --realign"
Realign requires that no reference sequences containing the query be used. This is checked in align right now, which means that the reference set gets smaller. It should be done in famfinder - probably actually as "leave-query-out".

[2019-03-24 18:41] #57 closed, assigned to nobody

[2019-03-24 18:41] #32 closed, assigned to nobody

[2019-03-24 20:53] epruesse commented on #23
fixed in #56

[2019-03-24 20:55] #23 closed, assigned to nobody

[2019-03-24 20:58] epruesse opened #66 "double free (concurrency bug)"
From https://circleci.com/gh/epruesse/SINA/461
[code]

[2019-03-25 03:54] #59 closed, assigned to nobody

[2019-03-25 04:20] epruesse opened #67 "Hande SIGWINCH in progress"
... to fix progress bar when resizing terminal

[2019-03-30 04:59] tillea opened #68 "GPL software linking against non-free library"
Hi,
I wanted to package SINA for Debian since it is needed by some QIIME2 module.  However, I realised that it is linking against non-free software (libARB).  Do you see any chance to either replace this by some free alternatives or talk to the ARB authors to free at least this part of their code (I talked to the ARB authors several times and know that it might be hard to free the whole software -

[2019-03-30 15:01] epruesse commented on #68
Hi Andreas,

There are license exceptions in place:

From http://bugs.arb-home.de/browser/trunk/arb_PUBLIB_LICENSE.txt
[code]

And there is this:
https://github.com/epruesse/SINA/blob/7fcd906f2317261285609d4bea3180ebf41f563f/src/align.cpp#L18-L26

Thus far, I have been assuming that, although not ideal, this suffices. The catch on the ARB side is that the current software maintainers/authors have

[2019-03-30 20:14] tillea commented on #68
Hi Elmar,

On Sat, Mar 30, 2019 at 08:01:48AM -0700, Elmar Pruesse wrote:

I admit that's all a bit complex.

I understood that its to hard for the whole ARB code base.  However, having all code that is needed to create the two libraries you need to link against under say LGPL would be a real step forward.  In this case I would package this separately and also link the ARB package in Debian agains

[2019-03-30 23:16] epruesse commented on #68
Please discuss with ftpmaster.

I can't change the ARB license or the way it's handled. I have permission to distribute SINA under GPL even while linking to ARB, and I've added permission to SINA's license to distribute even linked to ARB. If there are wording concerns I will happily incorporate advice into the SINA side of the license. If need be, I'd consider re-licensing SINA to MIT or BSD if t

[2019-04-03 06:39] debjitde01 commented on #53
Is the Sina 1.6.0 available or not? and how can I update the Sina 1.5.0 to
1.6.0, please help on this issue..

Thankinf you
with regards

*Debjit De*

*Research Scholar*
*C/O - Dr. Paltu Kumar Dhal*
*Assistant Professor*
*Department of Life Science & Biotechnology*
*Jadavpur University*
*Kolkata - 700032.*

On Sun, Mar 24, 2019 at 12:15 AM Elmar Pruesse <notifications@github.com>
wrote:

[2019-04-03 15:43] epruesse commented on #53
It is not yet on Bioconda, but it is available as a direct download.

Just download one of these: [linux](https://github.com/epruesse/SINA/releases/download/v1.6.0-rc.1/sina-1.6.0-rc.1-linux.tar.gz) or [macos](https://github.com/epruesse/SINA/releases/download/v1.6.0-rc.1/sina-1.6.0-rc.1-macos.tar.gz), unpack with `tar xf sina-1.6.0-rc.1*.tar.gz` and then run the `sina` that is in the folder creat

[2019-04-18 16:13] Finesim97 opened #69 "Updating the version in Bioconda"
Hi,
I am really excited to take the new search engine for a spin, but I saw that the [Bioconda recipe](https://github.com/bioconda/bioconda-recipes/blob/master/recipes/sina/meta.yaml) isn't updated yet. I am sorry if this is the wrong repository for posting that. Is it enough to update the hash and version variable?

Best wishes for your easter weekend

[2019-04-18 16:20] Finesim97 commented on #69
Just saw myself, that it is still a prerelease.

[2019-04-18 16:24] epruesse commented on #69
@Finesim97 I indeed do need to update the package.

Any chance you can try briefly with the pre-release binaries I have on the releases package?

I was just waiting for some more people to run this on their computers. I've tested and tested, but I know from experience that no amount of testing "by the author" replaces "actual use in the field".

[2019-04-18 18:37] Finesim97 commented on #69
Sure, I have my workflow running with the pre-release right now. The classification completes much faster than before. I will rerun it  with the old version and compare the results.

[2019-04-18 20:09] epruesse commented on #69
Thanks! Tell me if all is ok. I'll tag the 1.6.0 as soon as you do and update the Bioconda package.

[2019-04-23 21:55] epruesse commented on #68
ping @tillea - Any news?

[2019-04-23 22:38] epruesse commented on #67
fixed

[2019-04-23 23:09] epruesse commented on #69
@Finesim97 any news?

[2019-04-23 23:09] #67 closed, assigned to nobody

[2019-04-24 14:26] Finesim97 commented on #69
Yes, everything finished fine the second time I ran it. To test the performance, I added a repeat tag to my Snakemake workflow. During one of the repeats, SINA crashed with the following log:
[code]
I wasn't able to reproduce it, as it finished multiple times without crashing. The files were on a NFS drive and I reused the generated index (from the same command).

My Snakemake rule:
[code]

[2019-04-24 16:53] epruesse commented on #69
Thanks! I'll try to look into that. At least it gave a stack trace - that helps a little. It's a concurrency thing, so really hard to reproduce. Looks like it happened in the timer code I use to figure out where SINA spends it's time to help me optimize the important bits. I might just take that out for the release binaries.

Cleaned trace:
[code]

[2019-04-27 04:05] epruesse commented on #69
Ok. I hope that's fixed. 1.6.0 is out.

[2019-04-27 04:05] #69 closed, assigned to nobody

[2019-04-27 07:43] Finesim97 commented on #69
Thank you very much, glad I could help a little bit.

[2019-04-27 18:06] epruesse commented on #69
Yes, you did. Thanks. I was able to fix the above problem and get it into the 1.6.0. Perhaps I can get away without a 1.6.1 again, but you never know.

[2019-05-08 13:21] geboro opened #72 "LC_ALL requirement"
Hi!
SINa is terminating with the following error:
`This is SINA v1.2.11 (revision 21227).
PT server index missing. Building...
sh: warning: setlocale: LC_ALL: cannot change locale (C.UTF-8)
arb_pt_server: arb_pt_server: no version information available (required by arb_pt_server)
arb_pt_server: arb_pt_server: no version information available (required by arb_pt_server)
arb_pt_server: arb_pt_server

[2019-05-08 16:22] epruesse commented on #72
Hi @geboro!

Can you update to 1.6.0? It's available via Bioconda (highly recommended) as well as via the releases page here.

W.r.t. to your problem - you probably ran out of memory. The `LC_ALL` is just a warning, and actually issued from the shell. Don't worry about that. It terminated because the "ARB PT server" exited without building an index, which is usually because it didn't have enough m

[2019-05-15 19:07] gdauria opened #73 "Detect ARB database type (fail on pt server internal type)"
Dear Sir/Mrs,
I have an issue on using sina-1.6.0.
I do not know if this is the right place but I started an **arb_pt_server** and trying to assign a whole gene 16S sequence I have back always the same error: **21:01:28 [align] Internal error - incomplete data for alignment**

[code]
I started the arb_pt_server from the sina-1.6.0 folder using following command:
bin/arb_pt_server -D/home/user/ramD

[2019-05-15 19:46] epruesse commented on #73
Hi @gdauria!

Thanks, this does look like a regression. I will have a look into it. Running with an externally launched PT server wasn't on my list for testing and may have a bug.

Is there a reason you want/need to do it that way? The 1.6.0 comes with an internal replacement for the PT server, so you can just run this:

[code]

Or, you can just allow SINA to launch and terminate the PT server int

[2019-05-16 17:32] gdauria commented on #73
Thank you Elmar for your answer, the original idea was to update my
previous installation with an older sina version. This last version of sina
is really fast. I do not need any arb_pt_server running in background.
Thank you again to show me how it works and thank you for the great work
you did.
bests

Giuseppe

On Wed, May 15, 2019 at 9:46 PM Elmar Pruesse <notifications@github.com>
wrote:

[2019-07-07 13:45] TorkelE opened #74 "Sina abruptly ends with "Killed" and no information."
So I have some files with rRNAs which I wish to align (in fasta files, different domains and type of rRNAs, but always the same in each file).

I try to use sina and the following command (on ubuntu 18.04, conda version 6.11.4, sina version 1.6.0, python version 3.7.3):
[code]

Things then starts up nicely, but in the middle of building index it just ends with the word "Killed", and no information

[2019-07-07 22:48] epruesse commented on #74
Sorry to hear this. Will try to help. Might be a week or two until I can fully dive into it.

Could be out of memory. Can you check`dmesg` and/or append `; echo $?`. Also, watch with `top` from a second terminal.

If that doesn’t help, try running in gdb: `gdb --args sina ...` then enter `run` and once it crashes `bt`.

If you add `-v` you’ll see each sequence as it’s processed.  Could be there is

[2019-07-10 21:37] TorkelE commented on #74
Thanks for the quick reply (unlike my, I will blame a travel).

I did run top when I did my last tests, %CPU hitting about 125 and %MEM slowly working up to ~50 before the end. At least this is what I remember, might only have been when I was looking at errors in my old sina 1.2 installation.

Anyway, when I am double checking this now the error is gone, and the alignment seem to be successful. I'

[2019-07-12 15:20] TorkelE commented on #74
Just updating again. I have tried aligning several datasets (from Archaea, Bacteria, and Eukaryote). All types of rRNAs as well (5S, 5.8S, 16S, 18S, 23S, and 28S). To run the program I use this line (after activating sina in the terminal).
[code]
[Domain] is either Arcahea, Bacteria, or Eukaryote. [Dataset Nbr] just designates one of my datasets), [rRNA type] is either 5S, 16S, or 23S (for Arachae

[2019-10-17 00:51] mbcouger opened #75 "Printing Full Phylogeny"
Hello Sina Dev Group,

I am using SINA to classify 16s seqs, I am running the following commmand with the newest Silva release:
./sina -i Ecolittest.fasta --db SILVA_132_SSURef_NR99_13_12_17_opt.arb -p 1 --meta-fmt CSV -o tesyh --search-db SILVA_132_SSURef_NR99_13_12_17_opt.arb --lca-fields tax_slv

Can you please point me on how to print the full phyologeny of the alingments (Domain> Species)

Ma

[2019-11-11 10:43] mkorlevic opened #76 "SINA in ARB_EDIT4 not working"
I installed a precompiled SINA 1.6.0 on my computer and would like to use it within the ARB_EDIT4 sequence editor. After installing SINA the command to start SINA under Edit>SINA (SILVA Incremental Aligner) becomes available, but when I run it I get the following error in a bash terminal:

[famfinder] Option -ptdb deprecated; please use -db instead
Configuration error:
Reference database file ":"

[2019-11-11 10:48] epruesse commented on #76
Thanks Marino! This is probably a problem in the command line parsing. I'll have a look at it as soon as I can.

[2019-11-26 05:59] tia-das opened #77 "SINA not running"
I am running sina. every time the program gets killed at around 70%. i have changed % for ARB_MEMORY several times.
ARB_MEMORY=77% sina -i amplicons_seeds_uc.fasta --db SSURef_NR99_132_SILVA_13_12_17_opt.arb -o sina_out.fasta --outtype fasta --search --meta-fmt csv --lca-fields tax_slv --fs-engine internal --num-pts 8 -v --calc-idty --turn --search-min-sim 0.8

[2019-11-23 12:55:35.080] [log] [inf

[2019-11-26 06:03] tia-das opened #78 "update SINA"
In my Linux computer, SINA 1.4.0 is installed. i want to update it to SINA 1.5.0 so that i could run some code smoothly.
But i am unable to do that. i want to update it via bioconda..
kindly help me out.

Regards,
Tia Das,
JRF

[2019-11-26 07:46] tia-das opened #79 "SINA not running. showing Gave up (Reason: ARB ERROR: Expected entry 'baseoff' is missing for species 'A6BReg23' and Error during program execution: Failed to (re)build PT server index! (out of memory?)"
i am trying to run SINA.
The code is as follows:
(my_env) pkd@pkd-HP-406-G1-MT:~/Desktop/Gargi/sequencing/another/Sina$ ARB_MEMORY=69% sina -i amplicons_seeds_uc.fasta --db SSURef_NR99_132_SILVA_13_12_17_opt.arb -o sina_out.fasta \ --search --meta-fmt csv --lca-fields tax_slv \ --fs-engine internal --num-pts 8 -v

The output is:
[2019-11-26 12:34:43.161] [log] [info] Loglevel set to info
12:34:43

[2019-11-26 23:14] EmilRuff commented on #76
Hi Elmar,

I am having the same issue and get the same error (using SINA 1.6.0 and ARB 6.0.6).
If you want I can send you the console output.

Thanks and happy holidays,
Emil

[2019-12-03 20:22] l-yampolsky opened #80 "how to ask SINA to save taxonomy search results from multiple runs into 1 file, but not save alignments?"
If I do

for f in *.fasta;
do
    [PATH2SINA]/sina -i $f    \
    -r [PATH2SILVA.arb]      \
    -o outfile                    \
    -t --search --search-max-result=1 --lca-fields=tax_slv --meta-fmt=csv >> silvaResults.csv ;
done;

-clearly it overwrites the outfile each time and nothing goes into silvaResults.csv.

If I do

for f in *.fasta;
do
    [PATH2SINA]/sina -i $f    \
    -r [PATH2SILVA.a

[2019-12-04 17:16] l-yampolsky opened #81 "SINA quits"
With this last output:
Processing:  14% |███████████████████████▍                                                                                                                                                | 167171/1202016 [02:02:25 / 12:37:48]

-------------------- ARB-backtrace 'received signal 11':
0   libCORE.dylib                       0x0000000102895561 _ZL15sigsegv_handleri + 81
1   libs

[2019-12-04 20:23] epruesse commented on #81
Hard to tell from this what went wrong. I take it, it always crashes at that line?

It's always possible that it ran out of memory. I'm not really testing with cases that take multiple hours to be honest.

You can use `--fasta-idx` and `--fasta-block` to run SINA on sections of an input fasta file. The latter gives the size in bytes of each block, the former which block to work on. It will align a

[2019-12-04 20:24] epruesse commented on #81
I'd be curious if you can reproduce this with the first 165k lines removed. That would make it easier to debug. If you can isolate a set of sequences that trigger the bug, I can start digging.

[2019-12-04 20:32] epruesse commented on #72
Closing due to inactivity

[2019-12-04 20:32] #72 closed, assigned to nobody

[2019-12-04 21:35] epruesse commented on #78
Hi @tia-das,

have a look at the Bioconda docs on how to get conda installed:

https://bioconda.github.io/user/install.html

Once you have a working bioconda installation, you can just `conda create -n sina sina` and then `conda activate sina` to have an environment with SINA installed inside it.

If you run into trouble, go to https://gitter.im/bioconda/Lobby and ask for help there. It's likely s

[2019-12-04 21:35] #78 closed, assigned to nobody

[2019-12-04 23:18] epruesse commented on #76
Fixed in `dev` - will be part of 1.6.1

[2019-12-04 23:19] #76 closed, assigned to epruesse

[2019-12-04 23:21] epruesse commented on #79
Hi @tia-das - I won't have time to do fixes for 1.4.0 - try using the 1.6.x please.

This looks to be some issue with your ARB database though. Try re-downloading the SILVA database you are using, perhaps it got corrupted somehow.

[2019-12-04 23:21] #79 closed, assigned to nobody

[2019-12-04 23:23] epruesse commented on #77
As in the other tickets - try the 1.6.x first. How much memory do you have?

[2019-12-04 23:23] #77 closed, assigned to nobody

[2019-12-05 01:06] epruesse commented on #73
Ok - I figured out what the cause of this was.

The  `arb_pt_server` will (in ARB >6) compress the ARB database it is given, so by running `arb_pt_server -Dmydb.arb -T:some.sock`, `mydb.arb` got turned into something that isn't a normal ARB database. And then SINA failed to work with that.

=> Detect if an ARB database is actually legit.

[2019-12-05 04:25] l-yampolsky commented on #81
Will do tomorrow and let you know.
To remove first 165K lines - something like this?
tail -n +165000 old.fasta > new.fasta ?

________________________________
From: Elmar Pruesse <notifications@github.com>
Sent: Wednesday, December 4, 2019 3:24 PM
To: epruesse/SINA <SINA@noreply.github.com>
Cc: Yampolsky, Lev <YAMPOLSK@mail.etsu.edu>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [epr

[2019-12-05 19:35] epruesse commented on #81
Try this:

[code]

This should just process the 14th percent of the file. If it does still break, try with `--prealigned` to output just that set of sequences into a fasta file.

If you use smaller blocks, you should be able to narrow it down further. Although I am very much afraid that it's not a single sequence.

If you can somehow get it down to a file size you can attach here, I'll have a look

[2019-12-05 19:38] epruesse commented on #80
What you want will work with 1.6.1 more easily. There, you can just say

[code]

It might just be easiest to wait until then.

[2019-12-05 19:38] epruesse commented on #80
Considering duplicate of #10

[2019-12-05 19:38] #80 closed, assigned to nobody

[2019-12-12 16:08] ayixon opened #83 "SINA alternatives"
How good is SINA for small scale alignments (10-50 sequences)? Is it advisable to use SINA if I just want to align  less than 50 sequences to infer 16S phylogeny? Is it a suitable alternative to MUSCLE or MAFTT?

[2019-12-13 18:21] epruesse commented on #83
Hi @ayixon!

SINA is very good at that. The algorithm aligns your query sequences to match the alignment in a pre-existing reference alignment such as the SILVA one. SINA can also copy related sequences from the reference alignment into the output, fleshing out the alignment for a better phylogenetic tree and giving you some meaningful anchors.

Here are some examples:

[code]

You could also head

[2019-12-16 01:43] l-yampolsky commented on #81
Dear Elmar,

Sorry, end of semester, dropped this for a while.
My observations: SINA quits on particular lines, restarting from the same line executes normally, but if the crush line is somewhere in the middle it will crush again on the same line.

Here is a file test.fasta that causes a crush on the last sequence in the file. It looks like an absolutely normal 18S sequence. It produces the same o

[2020-02-09 14:08] bph6212ln opened #84 "calling SINA 1.6 from arb_edit4: positional arguments exception"
I have backported the SINA fix for bug # 76 to both SINA 1.5 and 1.6. When launching SINA 1.5 from within arb_edit4, the aligner runs successfully. However, when launching SINA 1.6.0 from within arb_edit4, the run fails with the error:

Configuration error:
too many positional options have been specified on the command line
Use "--help" to show options

It doesn't look to me from the command line

[2020-03-03 16:31] nr0cinu opened #85 "Disable progress bars"
Hi!

Is it possible to disable the progress bars? This would be convenient, as their output fills up our log files with unnecessary information. If I use `--quiet`, there are still progress bars (e.g., for "Building Index").

Keep up the great work! :)

Thanks!

Best,
Bela

[2020-03-03 16:40] epruesse commented on #85
Strange. They should actually turn off on their own when the output is not an interactive terminal. I’ll look into it.

Elmar

--
message sent from mobile device

[2020-03-04 02:10] epruesse commented on #85
Found the problem

[2020-03-04 03:04] epruesse commented on #85
quick fix:
 - add `--log-file sina.log` to create a log file without the spam
 - add  `&> /dev/null`  to silence sina terminal output completely

[2020-03-04 07:54] nr0cinu commented on #85
Hi Elmar!

Excellent, thank you! I’ll try it out!

Best,
Bela

[2020-03-05 02:38] epruesse commented on #84
Hi @bph6212ln,

I've just tried that command line with the current SINA. It works for me. Maybe something was broken in the 1.5 or during your backport?

Since you were looking at code, this is where `--turn [all|revcomp|none]` is defined:

https://github.com/epruesse/SINA/blob/a73f148d30c37c4c4540de336c89896ad762fe5f/src/famfinder.cpp#L144-L148

The `default_value` part tells boost program option

[2020-03-07 05:17] epruesse commented on #85
Ok, #86 fixes your problem, plus another one or two.

[2020-03-07 05:26] #83 closed, assigned to nobody

[2020-03-09 03:19] #85 closed, assigned to epruesse

[2020-03-09 03:37] epruesse commented on #74
Hi @TorkelE,

sorry for the very late response. The `dmesg` output is clear - you ran out of memory and the kernel decided that SINA needed to be killed to keep your computer running. Similarly, when you do see the `std::bad_alloc`, that's almost always also an out-of-memory condition, only that SINA still got to report it.

For the large SILVA SSU reference databases, SINA just needs a lot of mem

[2020-03-09 03:39] epruesse commented on #75
Try using `--search-max-result 1` - that will work like a best-BLAST and just give you the full classification for that hit.

[2020-03-09 14:28] TorkelE commented on #74
Thank you very much.

[2020-03-10 03:23] epruesse commented on #74
How much memory do you have? You might be able to either use the LTP dataset, or you could try downsampling the reference (something like `sina -i bigdatabase.arb --prealigned -o downsampled.arb --select-step 2` to make a DB with just every 2nd sequence).

[2020-03-10 11:15] TorkelE commented on #74
At that time I only had about 16GB RAM I believe. I've recently upgraded to a new computer with 128GB Ram (but haven't tried with that). Maybe that should be enough?

[2020-03-11 02:24] epruesse commented on #74
That's definitely ample. The 16GB should actually have been enough - my laptop has no more and is working fine for most things.

[2020-04-06 02:53] epruesse opened #87 "Limit max memory"
With large reference databases, the reference sequence cache can grow over time to lead to a late crash during execution. Allow specifying `--max-mem`.

- Make sequence cache an LRU cache
- Compute total mem usage:
  - index
  - cache
  - matrix
  - rest
- Limit threads?

[2020-04-06 02:55] epruesse commented on #81
@l-yampolsky - Can you attach the fasta that tiggers the bug here?

[2020-04-06 02:56] epruesse opened #88 "Replace LCA classifier"
The LCA classifier is difficult to adjust as it's based on distance and number of sequences. Something a little more advanced would be nice. Learning the typical distance within a group and assigning if a sequence is within that distance might work.

[2020-04-06 02:57] epruesse commented on #88
Fixes #75

[2020-04-06 02:58] epruesse commented on #87
Would fix the problem reported in #74

[2020-04-06 02:59] epruesse commented on #88
Duplicate with #62

[2020-04-06 02:59] #88 closed, assigned to nobody

[2020-04-15 17:59] dpar21 opened #89 "SINA not processing fasta files that have been filtered using vsearch"
I am trying to use SINA to align and classify 96 fastq files obtained from here: https://www.ebi.ac.uk/ena/data/view/PRJEB11512. I am really confused on how to use SINA to process these files, as whenever I process them it states that 0 sequences have been processed, kills the job, and my output files are all empty:

![Screen Shot 2020-04-15 at 2 01 38 PM](https://user-images.githubusercontent.com

[2020-04-15 19:49] dpar21 commented on #89
Nevermind, I believe I may have figured out the issue: my fasta file was not in the correct order in terms of sequences (i.e. it should start from sequence 1 and then ascend)

[2020-05-17 22:37] epruesse commented on #89
Sorry - I was too busy the last weeks :(

Happy to see that you worked it out youself! :)

[2020-05-17 22:37] #89 closed, assigned to nobody

[2020-06-08 15:02] IBG-5-KIT opened #90 "sina keeps rebuilding pt-server from scratch"
I am running SINA v1.2.11 (revision 21227).
I downloaded the "Ref NR 99" arb database from SILVA as reference db
when i run sina as follows (specifying the silva database under "--ptdb" and "--search-db"):
```sina -i LAP_H22_16S.fasta -o aligned222.test222.fasta --ptdb /opt/db/sina/16S_SILVA_138_SSURef_NR99_05_01_20_opt.arb --search --lca-fields tax_slv --lca-quorum 0.8 --search-kmer-len 10 --sear

[2020-06-08 16:21] IBG-5-KIT commented on #75
but what if one does not want a "best-BLAST" but the actual Least common ancestor (LCA) results. Is there a nice way to get the results in table format, similar to the classification output of the[ Silva ACT webservice](https://www.arb-silva.de/aligner)?

(because the best-hit is often not entirely reliable)

[2020-06-10 10:09] jvollme opened #91 "Sina does not actually output LCA classification anymore?"
When using the old sina version downloadable from the SILVA website (1.2.11), it is possible to do LCA classification of the sequences with the --search argument. The classification is simply listed in the stderr-output of the run and has to be parsed from it, but it is there.

When using the new version with equivalent arguments, i do not get any classification results. only alignments. Currently

[2020-06-26 20:07] hmontenegro commented on #91
If you use the arguments `--meta-fmt csv --lca-fields tax_slv`, the LCA classification will be one of the columns from the csv file.

edit: I am not involved in the development of SINA in any way.

[2020-07-04 17:01] epruesse commented on #91
The newest version can also just do `-o result.csv`, with `-f` specifying which fields.

[2020-07-04 17:02] epruesse commented on #90
@IBG-5-KIT The 1.2.11 is ancient. Could you try using the most recent release? There are a number of PT server issues that have been fixed since the 1.2.11, the most important being that you don't have to use it at all any more. The default is now a built-in search that is drastically faster.

[2020-07-04 17:04] epruesse commented on #75
Yes, there is now. Try the newest version with `-o results.csv` and `-f` set to the fields you want to have.

[2020-07-31 04:27] epruesse commented on #90
I'm closing this as stale.

[2020-07-31 04:27] #90 closed, assigned to nobody

[2020-07-31 04:28] epruesse commented on #66
Hasn't turned up in a year - assuming it got fixed.

[2020-07-31 04:28] #66 closed, assigned to nobody

[2020-07-31 04:30] epruesse commented on #74
Closing this in favor of #87

[2020-07-31 04:30] #74 closed, assigned to nobody

[2020-07-31 23:37] #10 closed, assigned to epruesse

[2020-07-31 23:37] #73 closed, assigned to nobody

[2020-07-31 23:37] #81 closed, assigned to nobody

[2020-07-31 23:53] epruesse commented on #91
Please try the 1.7.0 - binaries should be ready within the hour and bioconda packages within the day.

[2020-07-31 23:53] #91 closed, assigned to nobody

[2020-07-31 23:54] epruesse commented on #84
Closing as stale.

[2020-07-31 23:54] #84 closed, assigned to nobody

[2020-07-31 23:55] epruesse commented on #75
SINA 1.7.0 binaries should be up within the hour, and the Bioconda packages within the day. Give those a shot and reopen this if necessary.

[2020-07-31 23:55] #75 closed, assigned to nobody

[2020-08-16 21:14] epruesse opened #92 "Implement banded alignment"
...for obvious reasons.

[2020-08-17 19:41] jgerken opened #93 "Problems with LCA quorum"
Hi Elmar,

we stumbled across a weird problem when classifying sequences with SINA. One of our users searched for a partial sequences which as classified as `Archaea;Halobacterota;` despite eight of the ten nearest neighbours having a classification of `Archaea;Halobacterota;Methanomicrobia;Methanomicrobiales;Methanomicrobiaceae;Methanoculleus;`.

I created a minimal working example with a SILVA d

[2020-08-17 21:08] epruesse commented on #93
I'll have a look at it. Note on the side, you can write `-vvv` instead of `-v -v -v`. I assume you were using the 1.7.0?

[2020-08-17 21:39] jgerken commented on #93
Thanks :) Yes, I used 1.7.0 but also tried 1.6.1 and 1.2.11 and the classification result was the same with all versions (did not check the nearest neighbors in details with the old versions, though).

[2020-08-18 23:48] epruesse commented on #93
mind if I add the example to the unit tests?

[2020-08-19 00:31] epruesse commented on #93
Simple enough. Classic int/float truncation issue. Should work now. I'm pushing 1.7.1, should be in bioconda within a day or so.

[2020-08-19 13:39] jgerken commented on #93
No, go ahead.

The submitted fix only fixes the difference between the second and third execution. The problem that the first test case

[code]

returns `Archaea;Halobacterota;` instead of `Archaea;Halobacterota;Methanomicrobia;Methanomicrobiales;Methanomicrobiaceae;Methanoculleus;` despite 8 of the 10 top hits having the latter classification is still present in 1.7.1.

[2020-08-19 16:32] epruesse commented on #93
Darn - didn't see that part. Case of TL'DR I suppose.

[2020-08-21 05:00] epruesse commented on #93
You are correct in your observation. The algorithm does an LCA between the best match and the others. Guess that was usually so close to what it's supposed to do that no-one notices. This will take me a day or two to fix. Don't have enough time in the evenings.

[2020-09-01 14:56] jgerken opened #94 "Base shift in copied alignment"
We have observed a base shift in an alignment that is copied from the reference alignment. It only affects three bases in the alignment positions 22045 to 22050 but it is still strange as SINA says the alignment is copied from template sequence. While creating a minimal working example, I was able to pin down the problem a bit more. It only happens when the reference ARB file contains a HELIX filt

[2020-09-09 19:49] epruesse commented on #94
This is really odd. I will have to look into it. The result changes when you just add/remove the HELIX filter? That would mean there is memory corruption going on. The HELIX filter has no impact on the alignment itself, whether copied or not.

[2020-09-10 17:56] jgerken commented on #94
I found the issue. I exported the FASTA file accidentally from the reference dataset and not from the seed - that's why I should not have to ARB instances open on the same computer at the same time ;) In the reference dataset, the alignment is different from that in the seed due to an old SINA bug related to insertions (we discussed this bug some years ago via mail). This bug is solved with 1.6+ a

[2020-09-10 17:56] #94 closed, assigned to epruesse

[2020-09-10 20:56] epruesse commented on #94
:) Happy to hear that.

I have integration tests in `tests/accuracy.test` and `tests/accuracy_kmer.test` that ensure that the accuracy stays good with both search implementations. There is a little bit of wiggle, naturally, but I was very careful not to compromise alignment quality.

Not sure when the bug you mentioned was fixed. Since 1.5 I've added a ton of tests, both integration and unit, and

[2020-09-23 06:07] fujch7 opened #95 "How could I calculate identity between two 16S rDNA sequence？"
Hi developer,

Thanks for the amazing tool. How could I calculate identity between two 16S rDNA sequence using sina？Just like Pablo Yarza described in his article https://www.nature.com/articles/nrmicro3330

Many thanks

[2020-11-05 17:32] jvollme opened #96 "necessary fields for "-f" not stated correctly in documentation, and also not given by "--arb-list-fields"?"
Until now, I was still struggling to get the lca classification when running sina locally. Now, using the newest version on bioconda (v1.7.1), I still could not get it to work based on documentation at "readthedocs" or supplied by the help function of sina itself.

All of these seemed to suggest that the field to specify would be ```-f tax_slv```. However, this just results in an empty column with

[2020-11-10 09:03] johanneswerner opened #97 "Custom ARB database has no taxonomy fields"
This is probably not a bug and maybe also documented somewhere, but I could not find any information about it.

I built a custom ARB database of a subset of the sequences from [SILVA release 132](https://www.arb-silva.de/fileadmin/silva_databases/release_132/Exports/SILVA_132_SSURef_Nr99_tax_silva.fasta.gz) with the following command (after uncompressing):

[code]

By this, the created arb databas

[2020-12-09 00:52] smoe opened #98 "build failure ‘tbb_allocator’ is not a member of ‘tbb’"
Hello,
I keep running into
[code]
Any idea?
[code]
on Debian unstable. I saw the problem also reported in June on https://www.mail-archive.com/debian-mentors@lists.debian.org/msg117530.html.

Many thanks!

[2020-12-09 00:53] smoe commented on #98
The configuration is
[code]

[2020-12-09 07:02] epruesse commented on #98
Sounds like a change in tbb. The allocator isn't defined and things go haywire after that.

[2020-12-11 16:38] epruesse commented on #96
Hi @jvollme,

`--arb-list-fields` is new - I put it in exactly for your case. Knowing where the taxonomy might be stored in the reference database was a little too esoteric.

The reference database, e.g. the SILVA one, needs to contain a taxonomy classification in "materialized path" format. So some field that says "Bacteria; Proteobacteria; Gammaproteobacteria; ...". When you use `--lca-fields <f

[2020-12-11 16:55] epruesse commented on #97
Hi @johanneswerner,

the option to generate an ARB file on the fly was meant to allow people unfamiliar with ARB to quickly generate a file SINA can use as a reference. The fasta file is parsed as `>$ID $DESCRIPTION` with `$ID` mapped to `acc` and `$DESCRIPTION` mapped to `full_name`. That the SILVA FASTA files have `$DESCRIPTION` == `tax_slv` is just happenstance, and nothing SINA would know. All

[2020-12-11 17:00] epruesse commented on #98
Ok, not a change. I think this is because you used "--with-tbb-malloc=no", which should turn off the use off `tbb::tbb_allocator<>` but doesn't.

[2020-12-13 20:04] epruesse commented on #98
This should be fixed as of 14a17e997945311798c779ca07b3c674fcf97432 and published in 1.7.2

[2020-12-13 20:08] epruesse commented on #98
@smoe Please try this again. I could not reproduce fully. There also will be some performance impact to not using TBB malloc for many threads.

[2020-12-13 21:23] epruesse commented on #95
Hi @fujch7 - while I don't know how Pablo did the identity calculations, I know he was working with ARB. He probably used the distance matrix methods within it. Perhaps it's easiest to contact him directly via his Ribocon email address?

SINA has a number of options how the "fractional identity" can be computed. One of them should get you the same numbers. If not, do open another issue, I might be

[2020-12-13 21:23] #95 closed, assigned to nobody

[2020-12-13 23:55] smoe commented on #98
Thank you for your swift action. I had always tried different compiler options, i.e. with and without tbb and tbb-malloc, which from what I recollect always led to the same error.  And - good news - we are past that now.

When not passing any options to configure (besides disable static and arbhome) I see
[code]

This does not seem too surprising since

[code]

and when I then add the same compile

[2020-12-15 00:55] epruesse commented on #98
A machine to reproduce would indeed help!

If you could copy https://github.com/epruesse.keys to `.../.ssh/authorized_keys` (+chmod 600) and give me user/ip, I'll try to look into this.

[2020-12-15 00:59] epruesse commented on #98
`./configure` should really error out if there is no ARBDB - it won't work without.

I'm guessing that there is some `-l` missing that is needed on your system.

I can probably try this in a Debian docker, actually. Just need to find the time to track the problem.

[2021-04-16 15:41] glajoie1 opened #99 "--add-relatives outputs unexpected sequence ID"
Hello,

I have been using SINA on a 16S sequences fasta file with the following command-line to obtain an alignment that included neighbour sequences, as in the online ACT implementation for small sequence sets. The reference database was downloaded from Silva.

sina -i ~/asv_ps20.fa -r ~/SILVA_138.1_SSURef_NR99_12_06_20_opt.arb -o aligned.fasta.gz -o aligned.csv --add-relatives=15

In the output

[2021-04-17 05:59] epruesse commented on #99
Those are the "ARB names". Each sequence in ARB has a couple of meta-data fields, "acc" holds the accession number and "name" holds that name that you are seeing. It's an ID generated from the sequence description ("UncCy399" will be something uncultured) such that it's unique for accession + start position (to account for genomes with multiple 16S).

In theory, you should be able to export the ac

[2021-04-19 15:31] glajoie1 commented on #99
Ok - thank you for the information. The accession was not listed in the csv, so I generated a mapping file of the arb names to the silva accession numbers and taxonomy through the arb software using the SILVA_138.1_SSURef_NR99_12_06_20_opt.arb database.

[2021-04-20 18:29] epruesse commented on #99
Just be aware you might get dups on the acc alone. In SILVA `acc` + `start` uniquely identify a SSU/LSU sequence, with `start` being the first base of the sequence within its accession number sequence.

[2021-05-07 14:47] JudithBernett opened #100 "Problems installing sina on macOS Big Sur"
Hi!
I liked your tool and used it frequently on my old laptop (macOS Mojave) without any problems. Now I've got the new M1 chip laptop which has macOS Big Sur and tried installing sina as described on your website by running:
[code]
When I try to run sina, I get the following error:
[code]
I also tried it on a friend's computer who also has macOS Big Sur and it also doesn't work there. Do you have

[2021-05-08 18:35] epruesse commented on #100
This is probably an issue with the Bioconda package. I'll have to check what's going on there.

[2021-06-10 10:10] MPourjam opened #101 "Failing to load db index"
Although the index for database is built and exists in the same directory with the database file, Sina throws the error of 'Failed to load "path/to/index" - rebuilding'

[2021-06-11 18:36] epruesse commented on #101
Odd. Can you elaborate?
- where did you get the build from?
- what parameters and data did you use?

Some conditions under which this would occur
- The index got corrupted somehow, e.g. because the disk was full or your storage quota exceeded
- You changed the size of k between runs
- You updated the source database (should give a different message though)

[2021-06-14 15:12] MPourjam commented on #101
I am using Sina  in pipeline. It needs to get run through an iteration with the arguments below:
sina-1.7 --in {} --search --meta-fmt csv --threads {} --lca-fields tax_slv --turn --search-max-result 100 --db {the absolute path to SILVA ARB SSURef99 } --out {The path to output file} --search-min-sim 0.9 --lca-quorum 0.7 --search-no-fast > /dev/null

Even after removing the build and letting the Sin

[2021-07-06 15:00] rungitta opened #102 "error while loading shared libraries: libtbb.so.2"
The installation from Bioconda seems to work. But when running Sina I get this error:

[code]
`conda list` gives me:

[code]

I try find this file and get this:

[code]

[2021-07-08 12:09] ilnamkang commented on #101
I've experienced the same problem.

(1) I've downloaded "sina-1.7.2-linux.tar.gz" from this repository, decompressed it, and used the binary within "sina-1.7.2-linux/bin".

(2) My command was as below. I had used the same command for the previous run, except for input and output files.

sina -i input.fasta -r SILVA_138.1_SSURef_NR99_12_06_20_opt.arb -o output.fasta -o output.csv --turn --search --

[2021-07-20 14:58] lucaz88 commented on #102
I had the same problem and could solve it by simply downgrading the tbb library:
`conda install tbb=2020.2`

[2021-09-17 23:38] Jeltje commented on #102
Your system is missing the tbb library. I fixed mine (on Ubuntu) like so
[code]

[2021-09-21 16:09] epruesse commented on #102
When SINA is installed from Bioconda, there shouldn't be any client libraries like TBB that come from the system. It's nice that it works for you, @Jeltje, but I'm still considering this a bug. Just need to somehow scrounge up the time to figure it out...

[2021-11-05 16:45] a1an77 opened #103 "Support arb 7.0"
SINA does not compile against the recently released arb 7.0.
There is a change in the API which can be fixed by the following patch (using the new recommended version of the copy function). Not sure if the default version of the copy function has relevant differences wrt the old one.

[code]

[2021-11-05 17:07] a1an77 opened #104 "Compile issue on Debian 10 (linker command line)"
Compiling from sources on Debian 10 presents the following issue:
libraries are not specified on the linked command line (error adding symbols: DSO missing from command line), which can be fixed by the following:
[code]

[2021-11-05 17:23] a1an77 opened #105 "Problem building / installing documentation on Debian 10"
Trying to compile and install v1.7.2 on Debian 10 I encountered problems with the documentation which I could not quickly solve.

I had troubles with make install, which complained that files could not be found when trying to install some *.txt
when trying to reproduce the errors I got to report this issue I am now getting the following error already by make, compiling in a dedicated directory (af

[2022-01-17 13:28] mapoNW commented on #102
I had the same problem.
This is how I installed SINA today.
[code]
#Arb files were downloaded from SILVA (https://www.arb-silva.de/no_cache/download/archive/release_138.1/ARB_files/) and gunzip, folder in env folder
then I got the same error message as rungitta
Then I use the fixe from Jeltje.
`sudo apt-get install libtbb2`
`sina --search-cover=all -p 10 --log-file=/path/08_SINA/log_SINA_SSU-query

[2022-04-12 09:09] Lorcaserin commented on #101
Hello,

I have a similar issue which seems to be linked to the --search-no-fast & --fs-kmer-no-fast parameters.
I am trying to replicate online SILVA tool default parameters and when I use --search-no-fast or --fs-kmer-no-fast, my database (SSU Ref NR99) which worked with the parameter off, goes into rebuilding the index and after, I believe, yields a similar result (almost) to when the parameter

[2022-07-23 11:54] nick-youngblut opened #106 "libboost library conflict with qiime2"
Running `sina -h` produces:

[code]

conda env, which contains `sina 1.3.0` and `qiime 2021.11.0`:

[code]